<!DOCTYPE html>
<html>
  <head>
    <title>Ferox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400i,600i|Lato" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

     <nav class="nav-container">
       <div class="nav-name">
         <%= link_to image_tag("rideoutside.png", alt: "Ride Outside the Lines"), root_path %>
       </div>
       <div class="nav-logo">
         <%= link_to image_tag("ClearFeRoxLogo", alt: "logo"), root_path %>
       </div>
       <div class="nav-links">
         <%- if current_user -%>
           <% if current_user.admin? %>
             <div class="nav-button"><%= link_to 'Admin', admin_root_path, class: "fa fa-lock fa-3x" %></div>
           <% end %>
           <div class="nav-button"><%= link_to 'Logout', destroy_user_session_path, class: "fa fa-sign-out fa-3x", method: :delete %></div>
         <%- else -%>
           <div class="nav-button"><%= link_to 'Join', user_facebook_omniauth_authorize_path, class: "fa fa-user-plus fa-3x" %></div>

           <div class="nav-button"><%= link_to 'Login', new_user_session_path, class: "fa fa-sign-in fa-3x" %></div>
         <%- end -%>
       </div>
     </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
